################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CSharpProgrammingLevel2/CSharpProgrammingLevel2/.vs/CSharpProgrammingLevel2
